html {
  font: 16px/1.25 arial, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 0.875rem;
  margin: 0;
}

figure {
  left: 50%;
  margin: -150px 0 0 -250px;
  position: absolute;
  text-align: center;
  top: 50%;
}

figcaption {
  margin: 0.5rem;
}

canvas,
img {
  display: block;
}

.is-iframe figure {
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}

.is-iframe figcaption {
  display: none;
}

.is-iframe canvas {
  max-width: 100%;
  width: 100%;
}

