noscript {
  margin: 6px;
  font: italic 12px/28px arial, sans-serif;
}

html {
  overflow: scroll;
}

body,
p,
figure {
  margin: 0;
}

figure {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 300px;
  position: absolute;
}

figcaption {
  font-size: 90%;
  text-align: center;
  margin-top: 0.5rem;
}

figcaption p {
  padding-left: 0.5rem;
}

canvas {
  display: block;
}

.is-iframe {
  overflow: hidden;
}

.is-iframe figure {
  top: 0;
  margin: 0;
  border: 0;
}

.is-iframe figcaption {
  display: none;
}

.is-iframe canvas {
  width: 100%;
  max-width: 100%;
}

